<img src="{{logoImage}}" class="logo" alt="" srcset="" />
<div id="container">
    <!-- <div class="" style="padding: 20px;" id="torrentsvid"></div> -->
    
    <div class="box card" style="text-align: center">
        <!-- <input type=file multiple id="fileinput"> -->
        <!-- <textarea class="magnet" id="textMagnet" placeholder="Past Yor Magnet Link Here !" rows="2" cols="20" ></textarea> -->
        <div class="droper" id="dropTarget">
            <p id="droperText">
                Drop Your Torrent file Here !
            </p>
        </div>
        <!-- <button id="download" class="torrentDownload">Start Download</button> -->
    </div>
    <!-- <div class="box card" style="text-align: center;padding: 20px;margin: 10px;" id="torrentname"></div> -->
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b >File Name: </b><span id="torrentname"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b>Number Of Peers: </b><span id="numPeers"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b>Progress: </b><span id="progressBar"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b>Remaining: </b><span id="remaining"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b>Downloaded Data: </b><span id="downloaded"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b>Total Size: </b><span id="total"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b>Downloading Speed: </b><span id="downloadSpeed"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px;">
        <b>Uploading Speed: </b><span id="uploadSpeed"></span>
    </div>
    <div class="box card" style="text-align: center;padding: 20px;margin: 10px; "  id="torrentvid"></div>
    
    <!-- <div id="torrr"></div> -->
    <!-- <div id="infoTorrent" class="log box card" style="text-align: center;padding:30px;margin:20px"></div> -->
    <!-- <div class="log box card"></div> -->
    <!-- <div class="box torrentCardBody" id="torrentsAll"> -->
        <!-- <div id="torrentsinfo" style="max-width: 300px;"></div> -->
        <!-- <ul class="torrentCard">
            <li class="torrentCardList"><b>File Name: </b>100Kb</li>
            <li class="torrentCardList"><b>just downloaded: </b>100Kb</li>
            <li class="torrentCardList"><b>total downloaded: </b>100Kb</li>
            <li class="torrentCardList"><b>download speed: </b>100Kb</li>
            <li class="torrentCardList"><b>progress: </b>100Kb</li>
            <li class="torrentCardList"><b>Peers: </b>100Kb</li>
            <li class="torrentCardList"><b>ETA: </b>100Kb</li>
            <li class="torrentCardList" style="text-align: center;"><button > Downloading</button></li>
            <li class="torrentCardList" style="text-align: center;"><button > Paly</button></li>
        </ul> -->
        <!-- <ul class="torrentCard">
            <li class="torrentCardList"><b>just downloaded: </b>100Kb</li>
            <li class="torrentCardList"><b>total downloaded: </b>100Kb</li>
            <li class="torrentCardList"><b>download speed: </b>100Kb</li>
            <li class="torrentCardList"><b>progress: </b>100Kb</li>
            <li class="torrentCardList"><b>Peers: </b>100Kb</li>
            <li class="torrentCardList"><b>ETA: </b>100Kb</li>
            <li class="torrentCardList" style="text-align: center;"><button > Download</button></li>
        </ul> -->
        
        <!-- <b>just downloaded: </b>100Kb<br>
            <b>total downloaded: </b>100Kb<br>
            <b>download speed: </b>100Kb/s<br>
            <b>progress: </b>100%<br>
            <b>Peers: </b>100<br>
            <b>ETA: </b>100 Min<br> -->
            <!-- </div> -->
            <!-- <div class="box card">
                
            </div> -->
            
            
        </div>
    </div>