<div class="manu_nav">
    <ul class="menu" style="z-index: 1000;position: relative;top: -8px;">
        <li class="listitem" id="">All Torrent Lists</li>
        <li class="listitem" id="">Saved</li>
        <!-- <li class="listitem" id="">Help</li> -->
        <!-- <li class="listitem" id="">About us</li> -->
        <!-- <li class="listitem" id="">Donation</li> -->
        <li class="listitem" id="">Settings</li>
    </ul>
</div>
<div class="panel">
    <!-- <div class="inner_manu"> -->
        <!-- <div class="maneu_button">
            <button class="manu_button">hello</button>
            <button class="manu_button">hello</button>
            <button class="manu_button">hello</button>
            <button class="manu_button">hello</button>
        </div> -->
        <img src="../img/cancel.png" id="panelClose" class="closeIcon" style="" alt="" srcset="">
        <!-- <ul class="menu">
            <li class="listitem active" id="">All Torrent Lists</li>
            <li class="listitem" id="">Saved</li>
            <li class="listitem" id="">Help</li>
            <li class="listitem" id="">About us</li>
            <li class="listitem" id="">Donation</li>
            <li class="listitem" id="">Settings</li>
        </ul> -->
    <!-- </div> -->
    <div class="panel_content">
        pannel
    </div>
</div>